{% extends 'base/base.html' %}
{% from 'base/_error.html' import showError %}
{% from 'base/_success.html' import showSuccess %}
{% from 'base/_form.html' import render_field %}

{% block header %}
{% block title%}{{title}}{% endblock %}
{% endblock %}
{% block baseContent%}
<section class="py-4 bg-light mb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h1><i class="bi-file-person"></i>{{title}}</h1> 
                    </div>
                    <div class="card-body">
                        <form method="post" action="/publicacion" novalidate>
                            <input type="hidden" name="csrf_token" value="{{csrf_token()}}" /> 

                            <div class="input-group input-group-lg flex-nowrap mb-3">
                                <span class="flex-nowrap">
                                    {{render_field(publicacion_form.titulo.label,class="input-group-text")}}
                                </span>
                                <div class="container">
                                    {{ render_field(publicacion_form.titulo,class="form-control mb-0")}}
                                </div>
                            </div>

                            <div class="input-group input-group-lg flex-nowrap mb-3">
                                <span class="flex-nowrap">
                                    {{render_field(publicacion_form.descripcion.label,class="input-group-text")}}
                                </span>
                                <div class="container">
                                    {{ render_field(publicacion_form.descripcion,class="form-control")}}
                                </div>
                           
                            </div>

                            <div class="input-group mb-3">
                                <input  class="form-control" type="submit" name="guardar" value="Guardar" />
                            </div>

                        </form>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>


{% if error %}
{{showError(error,msgError)}}
{% endif %}
{% endblock baseContent%}