{% extends 'base/base.html' %}
{% from 'base/error.html' import showError %}
{% from 'base/form.html' import render_field %}
{% from 'base/banner.html' import showBanner %}

{% block header %}
{% block title%}{{title}}{% endblock %}
{% endblock %}
{% block baseContent%}
<section class="py-4 bg-light mb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h1><i class="bi-file-person"></i>{{title}}</h1> 
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <input type="hidden" name="idEmpleado" th:field="*{id}" /> 

                            <div class="input-group mb-3">
                                <span>
                                {{render_field(form.titulo.label,class="input-group-text")}}
                                </span>
                                {{ render_field(form.titulo,class="form-control")}}
                            </div>
                            <div class="input-group mb-3">
                                <span>
                                {{render_field(form.descripcion.label,class="input-group-text")}}
                                </span>
                                {{ render_field(form.descripcion,class="form-control")}}
                           
                            </div>

                            {{form.honeypot}}
                            <div class="input-group mb-3">
                                <input  class="form-control" type="submit" th:value="#{accion.guardar}" name="guardar" />
                            </div>

                        </form>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>


{% if error %}
{{showError(error,msgError)}}
{% endif %}
{% endblock baseContent%}