{% extends 'base/base.html' %}
{% from 'base/_error.html' import showError %}
{% from 'base/_success.html' import showSuccess %}
{% from 'base/_form.html' import render_field %}

{% block header %}
{% block title%}{{title}}{% endblock %}
{% endblock %}
{% block baseContent%}
<section class="py-4 bg-light mb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h1><i class="bi-file-person"></i>{{title}}</h1> 
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/update/{{publicacion.0}}/" novalidate>
                            <input type="hidden" name="csrf_token" value="{{csrf_token()}}" /> 

                            <div class="input-group input-group-lg flex-nowrap mb-3">
                                <span class="flex-nowrap">
                                    <label for="" class="input-group-text">Titulo</label>
                                </span>
                                <div class="container">
                                        <input type="text" name="titulo" value="{{publicacion.1}}" class="form-control">
                                </div>
                            </div>

                            <div class="input-group input-group-lg flex-nowrap mb-3">
                                <span class="flex-nowrap">
                                    <label for="" class="input-group-text">Descripcion</label>
                                </span>
                                <div class="container">
                                    <input type="text" name="descripcion" value="{{publicacion.2}}" class="form-control">
                                </div>
                           
                            </div>

                            <div class="input-group mb-3">
                                <input  class="form-control" type="submit" name="guardar" value="Guardar" />
                            </div>

                        </form>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>


{% endblock baseContent%}